ul{
    list-style: none;
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content:center ;
    font-size: large;
    color: white;
}

a{
    color: white;
    font-size: large;
    text-align: center;
    background-color: #800000;
    padding: 0.5em;
    text-decoration: none;
    transition: 250ms;
}
a:hover{
    padding: 0.65em;    
}

a:focus{
    background-color: black;
}

h1{
    color:white;
    font-size: 400%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    scale: 2;
}

figure{
    display: flex;
    justify-content: center;
}


body{ 
    background-color: #D2122E;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

h2{
    font-size: large;
    text-align: center;
    text-shadow: 0,5cm;
    scale: 1.5;
}

p{
    text-align: center;
    scale: 1;
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
}

h3{
    font-size: large;
    text-align: center;
    text-shadow: 2cm;
}
td{
    text-align: center;
}

table{
    display: flex;
    justify-content: center;
}


